.home{
    background-image:url(https://wallpapers.com/images/high/plain-light-blue-background-hi4iwqnh1sa9xfz9.jpg);
    height: 3000px;
    text-align: center;
}




.abc {
    padding-top: 250px;
}
.xyz{
    font-size: 40px;
    color:white;
    text-align: center;
    
}

.klm{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    text-align: center;
}
img{
    height: 300px;
    width: 500px;
}
.qwr{
    font-size: 25px;
    color:black;
    text-align: center;
    
}
.mno{
    font-size: 30px;
    color:cyan;
    text-align: center;
}
.suv{
    font-size: 23px;
    color:blue;
    text-align: center;
}
.tuy{
    font-size: 30px;
    color:cyan;
    text-align: center;
}
.fgh{
    font-size: 30px;
    color:cyan;
    text-align: center;
}
        
.lop{
    font-size: 30px;
    color:cyan;
    text-align: center;
}              
.ann{
    font-size: 20px;
    color:black;
    text-align: center;
} 
.res{
    font-size: 20px;
    color:white;
    text-align: center;
}              
                   
.ruv{
    font-size: 25px;
    color:blue;
    text-align: center;
}

.llm{
    font-size: 30px;
    color:cyan;
    text-align: center;
}

.h1{
    font-size: 30px;
    color: black;
}

.pictures{

}

          
        
               
               
               
        
    